<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="container pl-0">
        <div class="row mb-2">
          <div class="col">
            Values
          </div>
        </div>
        <div class="row my-2">
          <div class="col d-flex justify-content-between">
            <div>Language: Español</div>
            <div>Country: Argentina</div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col">
            <h4>Translation - Zero</h4>
          </div>
        </div>
        <div class="row my-2">
          <div class="col">
            <textarea class="form-control"></textarea>
          </div>
        </div>
        <div class="row my-2">
          <div class="col">
            <h4>Translation - One</h4>
          </div>
        </div>
        <div class="row my-2">
          <div class="col">
            <textarea class="form-control"></textarea>
          </div>
        </div>
        <div class="row my-2">
          <div class="col">
            <h4>Translation - Many</h4>
          </div>
        </div>
        <div class="row my-2">
          <div class="col">
            <textarea class="form-control"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="container pl-0">
        <div class="row mb-2">
          <div class="col">
            Values
          </div>
        </div>
        <div class="row my-2">
          <div class="col d-flex justify-content-between">
            <div>
              Language:
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-secondary" id="language-select" ngbDropdownToggle>Select a language</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem>Action - 1</button>
                </div>
              </div>
            </div>
            <div>
              Country:
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-secondary" id="country-select" ngbDropdownToggle>Select a country</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem>Action - 1</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col">
            <h4>Zero</h4>
          </div>
        </div>
        <div class="row my-2">
          <div class="col">
            <textarea class="form-control"></textarea>
          </div>
        </div>
        <div class="row my-2">
          <div class="col">
            <h4>One</h4>
          </div>
        </div>
        <div class="row my-2">
          <div class="col">
            <textarea class="form-control"></textarea>
          </div>
        </div>
        <div class="row my-2">
          <div class="col">
            <h4>Many</h4>
          </div>
        </div>
        <div class="row my-2">
          <div class="col">
            <textarea class="form-control"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col"><input type="checkbox" /> In Review</div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-outline-primary">Save</button>
    </div>
  </div>
</div>
