<div>
  <span class="mr-4">Module</span>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-secondary" id="modules-select" ngbDropdownToggle>Select a module</button>
    <div ngbDropdownMenu aria-labelledby="modules-select">
      <button ngbDropdownItem>Action - 1</button>
    </div>
  </div>
</div>
<div>
  <span class="mr-4">Language</span>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-secondary" id="language-select" ngbDropdownToggle>Select a language</button>
    <div ngbDropdownMenu aria-labelledby="language-select">
      <button ngbDropdownItem>Action - 1</button>
    </div>
  </div>
</div>
<div>
  <span class="mr-4">Country</span>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-secondary" id="country-select" ngbDropdownToggle>Select a country</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem>Action - 1</button>
    </div>
  </div>
</div>
