<div class="container pb-4">
  <div class="row">
    <div class="col-sm">
      <nav class="navbar navbar-light bg-light navbar-expand-lg d-flex justify-content-between">
        <a class="navbar-brand">Literals</a>
        <button class="btn btn-outline-primary my-2 my-sm-0" type="button">
          <i class="fas fa-plus"></i>
          New Literal
        </button>
      </nav>
    </div>
  </div>
  <div class="row mt-3 py-3">
    <div class="col-12">
      <app-selectors></app-selectors>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-literals-list></app-literals-list>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-literal-add></app-literal-add>
    </div>
    <div class="col-6">
      <app-literal-variables></app-literal-variables>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-literal-values></app-literal-values>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-literal-status></app-literal-status>
    </div>
  </div>
</div>
